{% extends 'base.html.twig' %}

{% block body %}
    <h1>Thread creation</h1>

    <div class="row">
        <div class="col-lg-6">
            {{ form_start(form) }}
                {{ form_errors(form) }}

                <div class="form-group">
                    {{ form_label(form.name) }}
                    {{ form_errors(form.name) }}
                    {{ form_widget(form.name, {attr: {'class': 'form-control'}}) }}
                </div>

                <input type="submit" value="Create" class="btn btn-primary" />
            {{ form_end(form) }}
        </div>
    </div>

    <ul>
        <li>
            <a href="{{ path('thread_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
